h1{
    font-size: 32px;
    margin-top: 50px;
    padding: 16px 0 6px 0;
    text-align: center;
    font-family: octosquareBlack, sans-serif;
}


 h2{
    font-size: 28px;
    margin-top: 50px;
    padding: 16px 0 6px 0;
    font-family: octosquareBlack, sans-serif;
}


.calculos{
    font-family: 'OctosquareBlack', sans-serif;
    font-size: 22px; 
}

.botoesCalculo{
    font-size: 18px;
    font-family: octosquareLight, sans-serif;
    background-color: #0c8f8c;
    border: none;
}


.tabela {
    font-family: 'OctosquareLight', sans-serif;
    font-size: 25px;
    width: 80%;
    margin: 0px 20px 20px 20px;
    background-color: #f0f8ff; /* Light blue background */
    border-collapse: collapse;
    margin-left: 100px;
}

.tabela th {
    font-family: 'OctosquareBlack', sans-serif;
    background-color: #55709e; /* Teal header background */
    color: white; /* White text for contrast */
    padding: 15px;
    text-align: center;
}

.tabela td {
    padding: 12px;
    text-align: center;

    background-color: #ffffff; /* White cell background */
}

.tabela input {
    font-size: 22px;
    width: 150px;
    padding: 5px;
    border: 1px solid #0c8f8c;
    border-radius: 4px;
    text-align: center;
}

.tabela input:focus {
    outline: none;
    border-color: #0056b3;
    box-shadow: 0 0 5px rgba(0, 86, 179, 0.5);
}


.card-text{
    font-size: 20px;
    font-family: 'OctosquareLight', sans-serif;
}

.form-label, .form-control, #resultado{
    font-size: 22px;
    font-family: 'OctosquareBlack', sans-serif;

}

.Botoes-dados{
    font-size: 22px;
    font-family: octosquareLight, sans-serif;
    border: none;
    margin: 10px;
}


.row{
    margin-top: 50px;
}