
.calculos{
    font-family: 'OctosquareBlack', sans-serif;
    font-size: 22px; 
}

.botoesCalculo{
    font-size: 18px;
    font-family: octosquareLight, sans-serif;
    background-color: #0c8f8c;
    border: none;
}


h1{
    font-size: 32px;
    margin-top: 50px;
    padding: 16px 0 6px 0;
    text-align: center;
    font-family: octosquareBlack, sans-serif;
}


 h2{
    font-size: 28px;
    margin-top: 50px;
    padding: 16px 0 6px 0;
    font-family: octosquareBlack, sans-serif;
}

.inputType {
    display: block;
    font-family: 'OctosquareLight', sans-serif;
    font-size: 22px;
    padding: 10px;
    border: 2px solid #0c8f8c;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000000;
}

.inputType:focus {
    outline: none;
    border-color: #0056b3;
    box-shadow: 0 0 5px rgba(0, 86, 179, 0.5);
}



.tituloEscolha-dist{
    font-size: 32px;
    padding: 16px 0 6px 0;
    font-family: octosquareBlack, sans-serif;
}


.form-label{
   font-size: 22px;
    font-family: octosquarelight, sans-serif;
}


.inputBi {
    display: block;
    font-family: 'OctosquareLight', sans-serif;
    font-size: 22px;
    border: 2px solid #0c8f8c;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000000;
    width: 1000px;
}




#aDistrBi, #bDistrBi, #aDistrPoi, #bDistrPoi{
    width: 150px;
    margin: 20px;
    padding: 25px;
}
#sinal, #sinalDistrBi, #sinal2DistrBi, #sinalDistrPoi, #sinal2DistrPoi{
    height: 50px;
    width: 250px;
}

#xDistrBi, #xDistrPoi{
    font-family: octosquareLight, sans-serif;
    background-color: white;
    margin: 20px;
    padding: 25px;
    border-radius: 4px;
    border: 1px solid rgb(214, 214, 214); 
    width: 75px;
}

.form-label, .form-control, #resultado{
    font-size: 22px;
    font-family: 'OctosquareBlack', sans-serif;

}
#mediaPoi{

font-family: 'OctosquareLight', sans-serif;
}

.Botoes-dados{
    font-size: 22px;
    font-family: octosquareLight, sans-serif;
    border: none;
    margin: 10px;
}

.limites, .escolha, .escolha2, .escolha3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-text{
    font-size: 20px;
    font-family: 'OctosquareLight', sans-serif;
}
